// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.container {
  display: flex;
  flex-direction: column;
  width: 75%;
  margin: 50px auto 0 auto;

  li {
    list-style: none;
    margin: 5px auto;
    padding: 5px;
  }

  i {
    font-size: 24px;
  }

  a {
    &:hover {
      text-decoration: none;
    }
  }

  p {
    font-size: 18px;
  }
}

.article {
  h1 {
    border-bottom: 1px solid #dddddd;
    padding-bottom: 15px;
  }
}
